@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html{
    font-size: 62.5%;
}




/* -------------------------------Navabr style----------------------------- */

  
 .navbar_section{
    width:100%;
    z-index: 99999;
    position: fixed;
}

.navbar{
    background-color:#f2f2f2;
    box-shadow: 0px -3px 22px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -3px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 22px -6px rgba(0,0,0,0.75);
   
}

.navbar_logo .logo{
    font-size:3rem;
    margin-left:7rem;
    color:#000;
    font-weight:bold;
}
 .navbar-nav .navbar-item {
padding-left: 5rem;
}
.navbar_button .navbar-nav :hover{
   
     border-radius:10px; 
    color:green; 
  

}
.navbar_button{
    margin-right: 5rem;
    
}




.logo .fas_icon{
    color:green;
}
.navbar-collapse ul{
    font-size: 2rem;
} 

.navbar_button ul li{
    padding-left: 10px;
}

.icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:#000;
    border-radius: 50%;
    background: #eee;
}
.icons a:hover{
    color:#fff;
    animation-name: rotate_icon;
    animation-duration:0.5s;
    animation-delay: no;
    
    animation-timing-function: ease-in-out;
    

   
}
@keyframes rotate_icon{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}

@media screen and (max-width:768px){
    .navbar{
        background-color:#fff;
        box-shadow: 0px -3px 22px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px -3px 22px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -3px 22px -6px rgba(0,0,0,0.75);
       
    }
    .navbar-toggler-icon{
        
        background-color:#000;
      margin-right: 5rem;
    }
} 



/* --------------------------------------home styel----- */

.home_container{
    width: 100%;
    height:90vh;
    padding-top:5rem;
    background-color:#f2f2f2;
padding-top: 12rem;
padding-bottom: 60rem;
}

.home_items{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:center; */
    margin-bottom:10rem;
    
}

.home_heading{
    color:blue;
    font-size:5rem;
    font-weight:bold;
    text-transform: capitalize;
}

.home_head{
    font-size:2rem;
}
.home_para{
    font-size:2rem;
}

.home_btn{
   background-color:blue; 
 width:10rem;
 cursor:pointer;
 font-size:15rem;

}

.btn_order_first{
    width:10rem;
    font-size:2rem;
    cursor:pointer;
    background-color:#00004d;
    color:#fff;
    border: none;
    outline: none;
    border-radius:10px;
}

.btn_order_first:hover{
    background-color:green;
}




/* ------------------------------------dish style ---------------------------------------------------- */
.dish_section{
    width:100%;
    height:auto;
    background-color:#f2f2f2;
    padding-top: 10rem;
    
}
.dish_container{
    width:100%;
    /* height:90vh; */
    background-color:#f2f2f2;
    padding-bottom: 25px;
}
.dish_head{
    padding-top:2rem;
    font-size:3rem;
}

.dish_heading{
    font-size:4rem;
    font-weight: bold;
    color:#00004d;
}

.dish_img img{
    width:25rem;
    height:20rem;
}

.card {
    width:250px;
}
.dish_title{
    text-align:center;
    font-size: 2rem;
    color:blue;
    font-weight: bold;
}

.dish_icon{
    font-size: 1.2rem;
    color:green;
   margin-left: 2rem;
   
}

.dish_prize{
    font-size:2rem;
    color:green;
    font-weight: bold;
}

.dish_btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: blue;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
}

.dish_name{
    text-align: center;
    color:#00004d;
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .dish_section{
        width:100%;
        height:auto;
        background-color:#f2f2f2;
        padding-top: 35rem;
    }
    .dish_container{
        width:100%;
        /* height:90vh; */
        background-color:#f2f2f2;
        padding-bottom: 25px;
    }
    .card {
        width:250px;
        margin-left:50px;
    }
        
}
/* ---------------------------------------------about style-------------------------------- */

.about_section{
    width:100%;
    height:100vh;
    background-color:#fff;
    padding-top: 10rem;
    
    box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
}
.about_head{
    text-align: center;
    padding-top:2rem;
    font-size:3rem;
}

.about_heading{
    text-align: center;
    font-size:4rem;
    font-weight: bold;
    color:#00004d;
}


.about_icons{
    font-size:5rem;
   
    
}
.about_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}
.about_info h3{
    color:#00004d;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight:bold;
}
.about_info p{
    font-size:1.7rem;
}
.about_btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background:#00004d ;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
}
.about_btn:hover{
  text-decoration: none;
  background-color: green;
  color: white;
}

@media screen and (max-width:768px){
    .about_section{
        width:100%;
        height:auto;
        padding-bottom: 5rem;
        background-color:#fff;
        padding-top: 2rem;
        box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
    }
}



/* --------------------------------------------------------menu style -------------------------------- */

.menu_info h5{
 text-align: center;
 font-size: 3rem;
 padding-top: 10rem;
 
}
.menu_info h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #00004d;
    text-transform: capitalize;
}
.menu_card{
  
    padding:5px;
}

.menu_para{
    font-size: 1.2rem;
}
.Menu_title{
    text-transform: capitalize;
    margin-top: 10px;
    color: #00004d;
    font-size: 4rem;
    font-weight: bold;
}

.box_img  .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.box_img .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}
.menu_prize{
    color:#000;
    font-size:3rem;
    font-weight:bold;
}
.box{
    width:300px;
    height: 250px;
    border:1px soild red;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}
.box .box_img{
    transform: rotate(0);
    transition: all 0.5s ease-in-out;
}
.box:hover .box_img{
    transform: rotateY(-90deg);
}
.box .box_img img{
    /* width: 100px; */
    height:auto;
}

.box_content{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    padding: 60px 20px ;
    border: 1px solid red;
    box-sizing: border-box;
    text-align: center;
    color:#fff;
    background: rgba(0,0,0,0.6);
    transform:rotateY(90deg);
    transition:all 0.5s ease-in-out;
}
.box:hover .box_content{
    transform:rotateY(0);
}
.menu_container{
    background-color:#f2f2f2;
    padding-bottom: 5rem;
}


/* -----------------------------------------------review style ----------------------------- */
.customer_section{
    width:100%;
    height:70vh;
 
    background-color:#fff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.customer_section{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    
}


.coustmer_info h5{
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    
   }
   .coustmer_info h1{
       text-align: center;
       font-size: 4rem;
       font-weight: bold;
       color: #00004d;
       text-transform: capitalize;
   }


   .review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}


@media screen and (max-width:768px){
    .customer_section{
        width:100%;
        height:auto;
        background-color:#fff;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    }
    .review .slide{
        padding:2rem;
      margin-top: 1rem;
        box-shadow:var(--box-shadow);
        border:.1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: relative;    
    }
    
}



/* ------------------------------order style------------------------------ */
.order_section{
    background-color:#f2f2f2;
    padding-bottom: 15rem;
    padding-top:5rem;
}
.order_info h5{
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    
   }
   .order_info h1{
       text-align: center;
       font-size: 4rem;
       font-weight: bold;
       color: #00004d;
       text-transform: capitalize;
   }

   .outer_div{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .inner_div{
       width: 80%;
       height:70vh;
       background-color: #fff;
       padding: 10px;
       box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
border-radius: 10px;
   }
   .inner_div .lable{
  font-size:2rem;
  font-weight: bold;
  padding-top: 2rem;
 
  
   }
   .inner_div .input{
       font-size:1.5rem;
       padding-left: 2rem;
       
   }

   .btn_order{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background:#00004d ;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
   }

@media screen and (max-width:768px){
    .inner_div{
        width: 80%;
        height:auto;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
 -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
 border-radius: 10px;
    }
}


   /* -----------------------------footer style----------------------------- */
   .footer{
       width:100%;
       /* height: 100vh; */
       margin-top: auto;
       padding-top: 5rem;
       
   }
   
   
   
   
   .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:#00004d ;
    text-transform: capitalize;
    font-weight: bold;
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#000;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
}

.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}


/* ----------------------------------------search styel------------ */


.search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 100000000000;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

.search-form.active{
    top:0;
}

.search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

.search-form #search-box::placeholder{
    color:#eee;
}

.search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

.search-form label:hover{
    color:var(--green);
}

.search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

/* ------------------------------------------model style-------------------------------- */
.model_img{
    font-size:1.2rem;
}
.model_img img{
    width: 40%;
    height:200px;
}